%li
  %a{href: category_books_path(sort: "Newest first")} Newest first
%li
  %a{href: "#"} Popular first
%li
  %a{href: category_books_path(sort: "Price: Low to high")} Price: Low to high
%li
  %a{href: category_books_path(sort: "Price: High to low")} Price: High to low
%li
  %a{href: category_books_path(sort: "Title: A to Z")} Title: A to Z
%li
  %a{href: category_books_path(sort: "Title: Z to A")} Title: Z to A
