= form_with model: category do |form|
  .field.form-group.mb-30
    = form.label :title, "Enter Category Name"
    = form.text_field :title, class: "form-control"
    %br/
    = form.submit "Save", class: "btn btn-primary"